body{
    background-image: url("./forras/ash.jpg");
}
main{
    max-width: 1000px;
    margin: auto;
    opacity: 0.5;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

th {
    color: black;
    font-weight: bold;
    background-color: rgb(224, 255, 255);
}